p {
  font-size: 35px;
  font-family: 'DM Serif Display', serif;
}
div {
    margin-top: 30px;
    margin-bottom:30px;
}

#stext {
  font-size: 20px;
}

body {
  background: linear-gradient(orange, #fc7d00);
}

button {
  border-radius: 66px!important;
}
